<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">EKaly</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/login"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/register"
            >Signup</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/order"
            >Order</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="authService.loggedIn() && authService.isAdmin"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/admin/listuser"
            >User</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="authService.loggedIn() && authService.isAdmin"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/admin/listuser"
            >Earnings</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
